<main id="quiz-page">
    <div class="quiz-box">
            <h1 class="quiz-title">Quote: <strong>
                    <%- question %>
                </strong></h1>
            <h2 class="quiz-score">Score: <br>
                <%- score %>
            </h2>

            <section class="answer-panel">

                <h2>Character:</h2>
                <form action="/quiz" method="post" class="character-panel">
                    <% possibleCharacters.forEach(element=> { %>

                        <label for="<%- element.name %>">
                            <%- element.name %>
                        </label>
                        <input type="radio" id="<%- element.name %>" name="character" value="<%- element.name %>">

                        <% }); %>


                            <h2>Movie:</h2>

                            <% possibleMovies.forEach(element=> { %>

                                <label for="<%- element.name %>">
                                    <%- element.name %>
                                </label>
                                <input type="radio" id="<%- element.name %>" name="movie" value="<%- element.name %>">

                                <% }); %>
                                    <input type="submit" value="Send In">
                </form>
            </section>

            <section class="quiz-likepanel">
                <form action="/quiz" method="post">
                    <input type="image" src="assets/images/like.png" height="25" />
                    <input type="image" src="assets/images/dislike.png" height="25" />
                </form>
            </section>        
    </div>
</main>