<main id="quiz-page">
    <div class="quiz-box">
        <section class="quiz-head">
            <h1>The One Quiz</h1>
            <form action="/quiz" method="post">
                <input type="hidden" name="reset" value="true">
                <input type="submit" value="RESET">
            </form>
        </section>

        <section class="quiz-main">
          <cite><h1><%- questionIndex + 1 %>. <%- question %></h1></cite>
          <section class="quiz-answers">
              <div>
                  <h1>Character:</h1>
                  <% possibleCharacters.forEach(character=> { %>
                  <div class="quiz-character-option"><h2><%- character.name %></h2></div>
                  <% }); %>
              </div>
              <div>
                  <h1>Movie:</h1>
                  <% possibleMovies.forEach(movie=> { %>
                  <div class="quiz-movie-option"><h2><%- movie.name %></h2></div>
                  <% }); %>
              </div>
           
          </section>

          <section class="quiz-like-panel">
            <div>
                <input type="image" src="assets/images/like.png" height="25" name="like" value=<%- quoteId%> class="rate-button"/>
                <input type="image" src="assets/images/dislike.png" height="25" name="dislike" value=<%- quoteId%> class="rate-button"/>
            </div>
          </section>
       </section>
 

        <section class="quiz-footer">
            <h2><%- questionIndex + 1 %> of <%- questionIndexMax %>  Questions</h2>
            <form action="/quiz" method="post">
                 <input type="hidden" name="movie" value="" id="quiz-data-output-movie">
                 <input type="hidden" name="character" value="" id="quiz-data-output-character">
                <button type="submit" id="quiz-submit" disabled>Next Question</button>
            </form>
        </section>
    </div>

    <script src="/js/quiz-handler.js" defer></script>
</main>