<main id="quiz-page">
    <div class="quiz-box">
        <section class="quiz-head">
            <h1>The One Quiz</h1>
            <form action="/quiz" method="post">
                <input type="hidden" name="reset" value="true">
                <input type="submit" value="RESET">
            </form>
        </section>

        <section class="quiz-main">
            <cite><h1><%- questionIndex + 1 %>. <%- question %></h1></cite>
            <section class="quiz-answers">
                <div>
                    <h1>Character:</h1>
                    <% possibleCharacters.forEach(character=> { %>
                    <% let correct = quizReview.correctAnswers.find(a => a._id == character._id);%>
                    <% let selected = character.name == quizReview.userAnswers[1];%>
                    
                    <div class="flex evenspace quiz-character-option <%= correct ? "quiz-correct-option" : selected ? "quiz-wrong-option" : ""%>">
                        <h2><%- character.name %></h2> 
                        <h2><%= correct && selected ? "+0.5" : "" %></h2>
                    </div>

                    <% }); %>
                </div>
               
                <div>
                    <h1>Movie:</h1>
                    <% possibleMovies.forEach(movie=> { %>
                    <% let correct = quizReview.correctAnswers.find(a => a._id == movie._id);%>
                    <% let selected = movie.name == quizReview.userAnswers[0]; %>
                    
                    <div class="flex evenspace quiz-movie-option <%= correct ? "quiz-correct-option" : selected ? "quiz-wrong-option" : ""%>">
                        <h2><%- movie.name %></h2> 
                        <h2><%= correct && selected ? "+0.5" : "" %></h2>
                    </div> 

                    <% }); %>
                </div>
            </section>
        </section>

        <section class="quiz-footer flex evenspace">

        </section>
    </div>

    <script src="/js/quiz-review.js" defer></script>
</main>